.app-container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;

  height: 100vh;
  display: flex;
  flex-direction: column;
}

.move-input {
  color: rgb(25, 135, 84);
  text-decoration: underline;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  padding: 18px 0;
}

.welcome-text {
  text-align: center;
  flex-grow: 1;
}

.loading {
  height: 40px;
  margin: -15px;
}